/*
    Theme Name: Maundy
    Theme URL: https://bootstrapmade.com/maundy-free-coming-soon-bootstrap-theme/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
*/

body {
	line-height: 1.2;
    height: 100%;
    background: #ffffff url('../img/cover-badminton.jpg') fixed;
    background-size: cover;
    background-repeat: no-repeat;
	font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**********************************
***********************************/
/**********************************
***********************************/

.card-blue {

    background-color: #0095d7;

    max-height:400px;
    color:white;
    padding:20px;
    border-radius: 5px;
    margin:20px;
    cursor: pointer;

}

.dropdown-menu > li > a {
    color: #000;
}

.content
{
	/*margin-top: 50px;*/
	color: #fff;
}
.logo img
{
	display: inline-block;
}
.logo h2
{
	font-family: 'Lobster', cursive;
	font-size: 34px;
}
#countdown {
    text-align: center;
    margin:  110px 0px 69px;
    min-height: 104px;
}
#countdown > div {
    width: 100px;
    height: 100px;
    margin: 0px 1%;
    display: inline-block;
    font-size: 20px;
    line-height: 52px;
    position: relative;
    font-weight: 700;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}
#countdown > div > span
{
	display: block;
}
.input-group-addon {
    color: #fff;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.sub-p
{
	font-size: 14px;
	padding: 5px 0px 15px;
}
.social ul li
{
	display: inline-block;
	border: 1px solid #fff;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	line-height: 50px;
	margin-right: 10px;
}
.section-padding
{
	padding: 60px;
}
.about-title h2
{
	font-size: 24px;
	font-family: 'Lobster', cursive;
	padding-bottom: 10px;
}
.img
{
	margin-top: 30px;
}
.img i
{
	font-size: 44px;
}
.subcription-info
{
    width: 40%;
    margin: 0 auto 50px;
}
.abt-hd
{
	font-size: 20px;
	font-weight: bold;
	padding: 10px 0px 15px;
}
.contact-title i {
    color: #FFFFFF;
    font-size: 1.8em;
    text-align: right;
    display: block;
    padding: 65px 0 0 0;
}
.contact-title h2
{
    font-size: 1.2em;
    font-weight: 600;
    color: #fff;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px 0px 30px;
}
.contact-title p {
    text-align: right;
    margin-top: -5px;
    color: rgba(236,240,241,0.9);
    font-size: 13px;
    word-spacing: 1px;
    line-height: 25px;
    padding-bottom: 30px;
}
.contact input[type="text"], .contact input[type="email"] {
    width: 100%;
    background: transparent;
    border: 1px solid #EDEDED;
    margin-bottom: 20px;
    font-size: 13px;
    outline: none;
    color: #ffffff;
}
.social a i
{
    color: #fff;
    display: block;
    line-height: 48px;

}
.social a:hover
{
    text-decoration: none;
}
#contact-info
{
	padding: 0px 0px 40px;
}
.contact textarea {
    width: 100%;
    background: transparent;
    font-size: 13px;
    padding: 15px;
    height: 100px;
    border: 1px solid #EDEDED;
    outline: none;
    resize: none;
    margin-bottom: 5px;
    color: #ffffff;
}

.contact-submit {
    background-color: #24B7A4;
    border: 2px solid #24B7A4;
    color: #FFFFFF;
    width: 100%;
    display: block;
    word-spacing: 1px;
    outline: none;
    margin: 0 auto;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: 700;
    padding: 10px;
    -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -ms-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;
}

.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
}

#sendmessage {
    color: green;
    border:1px solid green;
    display:none;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#errormessage {
    color: red;
    display:none;
    border:1px solid red;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#sendmessage.show, #errormessage.show, .show {
	display:block;
}

.container-bg {

    /*background-color:white;*/
    color:dimgrey;
    padding:20px;
    width:100%;
    border-radius: 10px;
}

.footer {
    background-color: black;position: fixed;bottom: 0px;width: 100%;height: 50px;padding:20px;color:white;
}

.rent-1x {

    background-color:green;
    color:white;
    border-radius:2px;
    border:2px solid green;
    padding:5px;
    height:25px;
    position:absolute;
    min-width:190px;
    max-width: 190px;

}
.footer a
{
    color: #24B7A4;
}
.credits {
    padding-top: 10px;
}

.subscribe_form {
    position: relative;
}
.subscribe_form .subscribe {
    right: 0px;
    top: 0px;
    width: 160px;
    height: 50px;
    position: absolute;
    color: #FFF;
    background-color: #24B7A4;
    border: medium none;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    font-family: "Roboto Slab",serif;
    font-size: 18px;
}
h2.subs-title  {
    font-family: 'Lobster', cursive;
    font-size: 34px;
    padding: 30px 0px 20px;
}
.subscribe_form input {
    height: 50px;
    border: none;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    border-radius: 30px;
    color: #000;
}
.subscribe_form input[type=email]
{
    padding-left: 30px;
}

.box-rent {
    background-color:whitesmoke;
    height: 8000px;
    position: fixed;
}

.modal.fade .modal-bottom {
    -webkit-transform: translate(0, 25%);
    -o-transform: translate(0, 25%);
    transform: translate(0, 25%);
}
.modal .modal-bottom {
    margin:0;
    margin-top:auto;
    padding: 0;
    position:absolute;
    bottom:0;
    top:auto;
    left:auto;
    right:0;

}

.modal .modal-bottom>.modal-content{

    /*height:100%;*/
    border-color: #fff;
    border-radius:0;
    margin:0;

}
.modal-bottom .modal-body{overflow-y:auto;}

@media (min-width: 1px){
    .modal-bottom {max-width: 100%;width:100%;}
}
/*Custume scroll bar*/
.modal-bottom ::-webkit-scrollbar {width:8px}
.modal-bottom ::-webkit-scrollbar-button {width:8px;height:5px}
.modal-bottom ::-webkit-scrollbar-thumb:hover {background: #ccc}
.modal-bottom ::-webkit-scrollbar-thumb {	background:#f1f1f1;border: thin solid white;border-radius: 10px}
.modal-bottom ::-webkit-scrollbar-track {background: #fff;border:thin solid white}
/**********************************
Media Queries
***********************************/
@media (min-width: 501px) and (max-width: 901px) {
    .contact-title{
        padding: 15px;
    }
    .section-padding {
            padding: 60px 30px;
    }
    .rent-1x {
        max-width:20px !important;
    }
    .subscribe_form .subscribe {
        width: 100px;
        font-size: 15px;
    }
    .subcription-info {
            width: 60%;
            margin: 0 auto;
    }
    body{
        overflow-x:hidden;
    }
    .rent-1x {
        min-width:50px;
    }

    #dashboard {

        color:red;
        margin-top:70px;

    }
}
@media (min-width: 20px) and (max-width: 500px) {
    .contact-title{
        padding: 15px;
    }
    .section-padding {
            padding: 60px 30px;
    }
    .subscribe_form .subscribe {
        width: 100px;
        font-size: 15px;
    }
    .subcription-info {
            width: 80%;
            margin: 0 auto;
    }
    .rent-1x {
        min-width:50px;
    }
    #dashboard {

        color:red;
        margin-top:70px;

    }
}